<div class="card border-0 box-shadow p-3 p-md-5">
  <div class="row">
    <div class="col col-12 col-md-6">
      <h4>
        Import file
      </h4>
      <p>
        Upload customer statement record file in <b>CSV</b> or <b>XML</b> format. There are two validations:
      </p>
      <ul class="pl-4 mb-0">
        <li>all transaction references should be unique</li>
        <li>the end balance needs to be validated</li>
      </ul>
    </div>
    <div class="col mt-3 mt-md-0">
      <app-file-select [acceptedFormats]="['text/csv', 'text/xml']"
                       (statementSelect)="onFileSelect($event)">
      </app-file-select>
    </div>
  </div>
</div>

<div class="card border-0 box-shadow mt-3 mb-3"
     *ngIf="statements.length"
     [@fadeUpAnimation]>
  <div class="card-header bg-white">
    <div class="d-flex align-items-center">
      <h5 class="text-primary mb-0">{{selectedFile.name}}</h5>
      <small class="ml-auto text-muted font-weight-light">{{selectedFile.size | number}}kb</small>
    </div>
  </div>
  <div class="card-body">
    <app-report [statements]="statements">
    </app-report>
  </div>
</div>