// Colors
$rb-dark: (
  1: #b0bec5,
  2: #607d8b,
  3: #455a64,
  4: #263238,
  5: #1e282c
);

$rb-light: (
  1: #fff,
  2: #fafbfc,
  3: #eee,
  4: #e4e4e4,
  5: #e0e0e0,
  6: #d8d8d8,
  7: #bdbdbd
);

$rb-blue: #00008E;
$rb-green: #8bc34a;
$rb-amber: #FF550D;
$rb-red: #ba3925;
$rb-yellow: #e8e04b;
$rb-purple: #9f72ee;

// Fonts
$rb-font-primary: 'Work Sans', sans-serif;
$rb-font-secondary: 'Lato', sans-serif;
