@import '../theme/variables';

.logo {
  display: inline-flex;
  align-items: center;
  font-weight: 900;

  &__img {
    height: 43px;
  }

  &__name {
    font-size: 24px;
    color: $rb-blue;
  }

  &__sub-name {
    color: rgba($rb-blue, .5);
    font-size: 14px;
  }
}
