<div class="statement-select text-center"
     [class.statement-select--file-over]="isFileOver"
     [class.statement-select--has-error]="errorMessage">
  <label class="btn btn-danger mt-4"
         for="file-select">
    <i class="fas fa-upload mr-2"></i>
    Select the file
  </label>
  <input type="file"
         id="file-select"
         class="d-none"
         multiple="false"
         (change)="onFileChange($event)">

  <p class="mt-2 mb-2">
    or drop it here
  </p>

  <small *ngIf="errorMessage"
         class="text-danger"
         [@slideUpAnimation]>
    {{errorMessage}}
  </small>
</div>
