@import '../../../../../theme/variables';

.table {
  tbody {
    font-size: 14px;
  }
}

.is-invalid-text {
  position: relative;
  background-color: $rb-red;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: bold;
}
