@import '../../../../../theme/variables';

.table {
  tbody {
    font-size: 14px;
  }
}

.is-invalid-cell {
  // background: linear-gradient(90deg, rgba($rb-red, .1), rgba($rb-red, 0));
}

.is-invalid-text {
  position: relative;
  background-color: $rb-red;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: bold;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   height: 3px;
  //   width: 100%;
  //   bottom: -5px;
  //   display: block;
  //   border-radius: 15%;
  //   background-color: $rb-red;
  // }
}
