@import './theme/variables';

html, body {
  color: map-get($rb-dark, 3);
  background-color: map-get($rb-light, 2);
  font-weight: 200;
  font-family: $rb-font-secondary;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  font-family: $rb-font-primary;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.font-weight-bolder {
  font-weight: 900;
}
