@import '../../../../../theme/variables';

.file-upload {
  height: 100%;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px dashed map-get($rb-light, 4);
  background-color: map-get($rb-light, 2);
}
